<template name="dayOffTaken">

  <div class="container">
  <div class="row-centered">
     <div class="offset-col-xs-5 offset-col-md-5">
    <h3><strong>DAY OFF TAKEN</strong></h3></div>
    <div class="quote2">"WHAT IS NOT STARTED TODAY IS NEVER FINISHED TOMORROW."</div>
    <div class="quoteBy2">-JOHANN WOLFGANG VON GOETHE</div>
        <div class="row">
          <div class="col-xs-4">
        <h2 class="ofGoalAttained2"><strong>79</strong> OF GOAL ATTAINED</h2>
          </div>
          <div class="col-xs-4">
        <h2 class="daysInRow2"><strong>79</strong> DAYS IN A ROW</h2>
          </div>
          <div class="col-xs-4">
        <h2 class="share2"><strong>SHARE QUOTE &amp; LATER</strong></h2>
          </div>
        </div>
      </div>
    </div>

    </template>
