<template name="dayOffTaken">

  <div class="backgroundColor2">
    <h1><strong>DAY OFF TAKEN</strong></h1>
    <h3 class="quote2">"WHAT IS NOT STARTED TODAY IS NEVER FINISHED TOMORROW."</h3>
    <h3 class="quoteBy2">-JOHANN WOLFGANG VON GOETHE</h3>
        <div class="row">
          <div class="col-xs-4">
        <h2 class="ofGoalAttained2"><strong>79</strong> OF GOAL ATTAINED</h2>
          </div>
          <div class="col-xs-4">
        <h2 class="daysInRow2"><strong>79</strong> DAYS IN A ROW</h2>
          </div>
          <div class="col-xs-4">
        <h2 class="share2"><strong>SHARE QUOTE &amp; LATER</strong></h2>
          </div>
        </div>
      </div>
    </template>
