<template name="dayOffTaken">

  <div class="container-fluid">
    <div class="row row-centered">
      <div class="col-centered">
        <h3><strong>DAY OFF TAKEN</strong></h3>
      </div>
    <div class="row row-centered">
      <div class="quote2">"WHAT IS NOT STARTED TODAY IS NEVER FINISHED TOMORROW."
        </div>
        </div>
      <div class="row row-centered">
      <div class="quoteBy2">-JOHANN WOLFGANG VON GOETHE
      </div>
      <div class="bottomPage">
        <div class="row row-centered">
          <div class="col-4-xs col-sm-4 col-md-4">
            <h3><strong>79%</strong></h3>
            <h3>OF GOAL ATTAINED</h3>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <h3><strong>79</strong></h3>
            <h3>DAYS IN A ROW</h3>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <h3><strong>SHARE <br>QOUTE &amp; PROGRESS</strong></h3>
          </div>
        </div>
      </div>
     </div>
   </div>
 </div>

    </template>
