<template name="homeIndex">

  {{#if currentUser}}

<div class="container-fluid">

  <div class="row row-centered">
    	<div class="col-centered">
  <h3>HEY {{currentUser.services.facebook.name}}</h3>
  <h3>WHEN CAN YOU PRACTICE TODAY?</h3>
	   </div>
</div>
     <div class="row row-centered">
    	<div class=" col-centered">
    	<div class="imageClock">
      		<img src="clock_200.JPG" class="img-responsive clock">
      		<div class="counter"><strong>{{counter}}</strong></div>
    	</div>
      </div>
    </div>
        <div class="row">
          <div class="col-xs-offset-2">

  <button class="btn btn-outlined oneAM" name="button">1am</button>
  <button class="btn btn-outlined twoAM" name="button">2am</button>
  <button class="btn btn-outlined threeAM" name="button">3am</button>
  <button class="btn btn-outlined fourAM" name="button">4am</button>
  <button class="btn btn-outlined fiveAM" name="button">5am</button>
  <button class="btn btn-outlined sixAM" name="button">6am</button>
  <button class="btn btn-outlined sevenAM" name="button">7am</button>
  <button class="btn btn-outlined eightAM" name="button">8am</button>
      </div>
    </div>

      <div class="rowConfirm">
          <button  type="button" class="btn btn-block btn-success confirmPracticeTime" >CONFIRM</button>

          <button class="btn btn-danger btn-block ">NOT SURE</button>

        </div>
      <button class="logout">Logout</button>
      {{currentUser.services.facebook.gender}}
     
</div>
  {{else}}
  <div class="row">



      <h1>PRACTICE</h1>
      <h1>EVERY DAY</h1>

  </div>
  <div class="rowBtn">
        <button  class="btn btn-primary btn-block   btn-facebook">Login with Facebook</button>
      </div>
        <button  class="btn btn-primary btn-block  btn-twitter">Login with Twitter</button>
  {{/if}}

</template>
