<template name="oops">

    <div class="backgroundColor">
      <h1>OOPS!</h1>
      <h3 class="quote">"WHAT IS NOT STARTED TODAY IS NEVER FINISHED TOMORROW."</h3>
      <h3 class="quoteBy">-JOHANN WOLFGANG VON GOETHE</h3>
        <button  type="button" class="btn btn-negative btn-block recommit">RECOMMIT</button>
          <div class="row">
            <div class="col-xs-4">
          <h2 class="ofGoalAttained"><strong>79</strong> OF GOAL ATTAINED</h2>
            </div>
            <div class="col-xs-4">
          <h2 class="daysInRow"><strong>79</strong> DAYS IN A ROW</h2>
            </div>
            <div class="col-xs-4">
          <h2 class="share"><strong>SHARE QUOTE &amp; LATER</strong></h2>
            </div>
          </div>
        </div>

    </template>
