<template name="success">



  <div class="background-color">


  <h1><strong>SUCCESS!</strong></h1>
    <br>
    <br>
  <p class="text-center">
  Desire is the key to motivation, but it's determination and commitment to an unrelenting pursuit of your goal - a commitment to excellence - that will enable you to attain the success you seek.
  If I were obliged to marry all the girls with whom I have jested I should have at least 200 wives</p>

<br>
<h3 class="text-center author">-WOLFGANG AMADEUS MOZART</h3>
    <div class="container-fluid bottomPage">
        <div class="row">
            <div class="col-xs-4">
              <h2 class="text-center"><strong>79%</strong></h2>
              <h3 class="text-center">OF GOAL ATTAINED</h3>
            </div>
            <div class="col-xs-4">
              <h2 class="text-center"><strong>79</strong></h2>
              <h3 class="text-center">DAYS IN A ROW</h3>
            </div>
            <div class="col-xs-4">
              <h2 class="text-center"><strong>SHARE QOUTE &amp; PROGRESS</strong></h2>

            </div>
          </div>
        </div>
      </div>

</template>
