<template name="success">

<body>
  <div class="container-fluid">
  <div class="row row-centered">
    <div class="col-centered">
  <h2><strong>SUCCESS!</strong></h2>
    <br>
    <br>
  </div>
</div>
  <div class="row row-centered">
    <div class="col-centered">
      <p class="text-center successP">
        Desire is the key to motivation, but it's determination and commitment to an unrelenting pursuit of your goal - a commitment to excellence - that will enable you to attain the success you seek.
        If I were obliged to marry all the girls with whom I have jested I should have at least 200 wives</p>
        <br>
      </div>
    </div>
    <div class="row row-centered">
      <div class="col-centered">
        <h3 class="author">-WOLFGANG AMADEUS MOZART</h3>
      </div>
      </div>
    <footer class="bottomPage">
      <div class="row row-centered">
        <div class="col-4-xs col-sm-4 col-md-4">
          <h3><strong>79%</strong></h3>
          <h3>OF GOAL ATTAINED</h3>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <h3><strong>79</strong></h3>
          <h3>DAYS IN A ROW</h3>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <h3><strong>SHARE <br>QOUTE &amp; PROGRESS</strong></h3>
          </div>
        </div>
     </footer>
   </div>
 </body>

</template>
