  .howLong {
    text-align: center;
    font-size: 240px;

  }

  .thumbsup {
    height: 200px;
    width: 200px;
  }

  .holder {
    postition: absolute;
  }

  .confirm {

  }

  .confirmAgain {

  }

  .slider {

  }
