  body {
    padding-top: 50px;
  }

.ofGoalAttained2 {
  padding-top: 150px;
  text-align: left;
}

.daysInRow2 {
  padding-top: 150px;
  text-align: center;
}

.share2 {
  padding-top: 150px;
  text-align: right;
}

.recommit2 {

}

.quote2 {
  text-align: center;
}

.quoteBy2 {
  text-align: center;
}

.bottomPage {
text-align: center;
padding-top: 1250px;
}
