  .btn-facebook{

  }

  .btn-twitter{

  }

  .rowBtn {
  padding-top: 200px;
  padding-bottom: 20px;
  }

  .rowConfirm{
  padding-top: 20px;
  padding-bottom: 20px;
  }


  h1 {
  text-align: center;
  }

.imageClock {
   position: relative;
   width: 100%; /* for IE 6 */
}

.counter {
   position: absolute;
   top: 110px;
   left: 105px;
   width: 100%;
}
