  .ofGoalAttained {
    padding-top: 150px;
    text-align: left;
  }

  .daysInRow {
    padding-top: 150px;
    text-align: center;
  }

  .share {
    padding-top: 150px;
    text-align: right;
  }

  .recommit {
    width:250px;
  }

  .quote {
    text-align: center;
  }

  .quoteBy {
    text-align: center;
  }

  .bottomPage {
  text-align: center;
  padding-top: 1250px;
  }

  .imageClock {
     position: relative;
     width: 100%; /* for IE 6 */
  }

  .counter {
     position: absolute;
     top: 110px;
     left: 105px;
     width: 100%;
  }
