  .ofGoalAttained {
    padding-top: 150px;
    text-align: left;
  }

  .daysInRow {
    padding-top: 150px;
    text-align: center;
  }

  .share {
    padding-top: 150px;
    text-align: right;
  }

  .recommit {

  }

  .quote {
    text-align: center;
  }

  .quoteBy {
    text-align: center;
  }

  .bottomPage {
  text-align: center;
  padding-top: 1250px;
  }
