  .background-color {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left :0;
  background-color: #16E428;
  }

  body {
  top: 0;
  right: 0;
  bottom: 0;
  left :0;
  }

  .successP {
    font-size: 16px;
  }

  .author {
  padding-top: 50px;
  text-align: center;
  }

  .bottomPage {
  text-align: center;
  padding-top: 1250px;
  }
